{% extends 'registration/base.html' %}
{% block content%}
<div class="row">
  <form class="col s12"action="/login/" method="POST">
    {{form}}

    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}

    <div class="row">
        <div class="input-field col s6">
          <button class="waves-effect waves-light btn-small" type="submit" name="action">Login</button>
          <a class="waves-effect waves-light btn-small" href="/signup/" name="action">Signup</a>
          <!-- <a class="waves-effect waves-light btn-small" href="/signup/" name="action">Signup</button> -->
        </div>
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock%}