<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Welcome.</title>
</head>
<body>
    <header class="container center-align" >
        <h1>Welcome.</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <br>
    <div class="container">
        <form action="/logout/" method="POST">
            <button class="center-align btn pink darken-1" style="display:block; margin:0 auto; width: 100%" type="submit"  name="action">Logout</button>
            {% csrf_token %}
        </form> 
        <br>
        <a href="/posts/create" class="center-align btn pink darken-2" style="display:block">Create Post</a>
    </div>
</body>
</html>